.app__maincard {
    padding: 8rem 0rem 0rem 0rem;
    max-width: 42rem;
    margin: 0 auto;
}

@media screen and (max-width: 800px) {
    .app__maincard {
        padding: 12rem 0rem 0rem 0rem;
    }
}