.app__actionModal-content {
  font-weight: 600;
  padding: 0.3rem 0.3rem;
}

.app__actionModal-content span {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
