.app__modal {
    position: absolute;
    padding: 8rem 0rem 0rem 0rem;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.466);
    top: 0;
    left: 0;
}

.app__modal-hidden {
    display: none;
}

.app__modal-content {
    margin: 0 auto;
    max-width: 41rem;
    background-color: #fff;
    padding: 0.5rem 0.5rem;
    border-radius: 0.25rem;
    box-shadow: 0 30px 60px -12px rgb(50 50 93 / 25%),
        0 18px 36px -18px rgb(0 0 0 / 30%), 0 -12px 36px -8px rgb(0 0 0 / 3%);
}

@media screen and (max-width: 800px) {
    .app__modal {
        padding: 12rem 0rem 0rem 0rem;
    }
}