.app__actionModal-content {
    padding: 0.3rem 0.3rem;
}

.app__actionModal-content span {
    font-size: 1.2rem;
    font-family: inherit;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}